.leaflet-container {
  height: 700px;
  width: 100%;
}


.select-placeholder-text {
color: 	dimgray;
}


.react-select-error div {
    border-color: #e74c3c;;
}

.react-select-error:hover div {
    border-color: #e74c3c;;
}

.required-field {
    color: darkred;
    font-weight: bold;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.popover {
    max-width: 500px;
}


.popover-arrow {
    display: none !important;
}
