.leaflet-container {
  height: 700px;
  width: 100%;
}


.select-placeholder-text {
color: 	dimgray;
}


.react-select-error div {
    border-color: #e74c3c;;
}

.react-select-error:hover div {
    border-color: #e74c3c;;
}

.required-field {
    color: darkred;
    font-weight: bold;
}
